*{
    scroll-behavior: smooth;
}

#food{
    order: 1;
    background-color: rgb(163, 184, 184);
}
#drink{
    order: 2;
    background-color: rgb(64, 78, 142);
}
#dessert{
    order: 3;

}

#order{
    transition-duration: 1s;
    
}

.description-food{
    display: flex;
   
}

.description-food:hover{
    opacity: 1;
    border: 1px solid red;
    background-color: rgba(62, 57, 57, 0.6);
    color:  rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    
}

.add{
    background-color: white;

}

.remove{
    background-color: rgb(113, 238, 88);
}

.list-card{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
   
    
}
.list-card::-webkit-scrollbar{
    width: 0px;
}

.img-card{
    position: fixed;
}