*{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    
    
}

#root{
    background-image: url(./assets/burger.png);
    background-repeat: repeat;
    color: rgb(255, 255, 255);
   
}

#purple{
    background-color: #000000be;
    /* background-image: linear-gradient( 90deg,  #ff4e4e74 11.2%, rgba(253, 177, 71, 0.45) 117.9% ); */
    z-index: 0;
}
#section-container{
    /* background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% ); */
    /* background-color:rgba(182,199,226,1);
    background-image: linear-gradient( 109.6deg,  rgba(204,228,247,1) 11.2%, rgba(237,246,250,1) 100.2% ); */
    /* color: rgb(255, 6, 189); */
    background-color:#ffe1e1;
   
 
    /* padding: 1vh; */
    z-index: 40;
    box-sizing: border-box;
}

#all-food-container{
   z-index: 10;
   padding-bottom: 70px;
   background-color:#630432;
   background-color:#862381;
   background-image: linear-gradient( 90deg,  #ff4e4e 11.2%, rgba(253,176,71,1) 117.9% ); 
   /* border-inline: 10px solid rgb(21, 21, 21); */
    background-repeat: repeat;
}
#food{
    order: 1;
    
    
}
#drink{
    order: 2;
   
}
#dessert{
    order: 3;

}

#order{
    transition-duration: 1s;
    bottom: 0px;
    
    
}

#container-item{
    max-height: 0px;
    transition-duration: 1s;
    padding-inline: 1vh;
    color: black;
    background-color:#ffd883;
    background-color: #fefbed;

    font-size: larger;
   
   
    
}


#header-order{
    background-color: rgba(255, 255, 255, 0.511);
    backdrop-filter: blur(20px);
    color: rgb(0, 0, 0);
    padding: 2px;
    padding-inline: 1vh;
    font-weight: 700;
    font-size: 20px;
    background-color: rgba(34, 41, 47, 0.721);
    padding-block: 10px;
    
    color: rgb(255, 255, 255);
    align-items: center;
}

#make-order{
    background-color: rgb(159, 247, 182) ;
    color: rgb(1, 75, 1);
    border-radius: 5px;
    padding-inline: 10px;
    border: 1px solid rgb(4, 4, 4);
}

.title{
    font-family: 'Pacifico', cursive;
}
.description-food{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    
    background-color: rgba(6, 31, 69, 0.455);
    color:  rgb(255, 255, 255);
  
    padding: 1vh;
    backdrop-filter: blur(5px);
}

.description-food:hover{
    opacity: 1;

    
}


.add{
    border: 2px solid rgb(107, 0, 165);
    box-shadow: 8px 12px 0px 1px  rgba(0, 0, 255, .2);

}

.remove{
    
    /* filter: drop-shadow( -5px 7px 10px rgb(0, 255, 153)); */
    border: 2px solid rgb(64, 255, 0);
    box-shadow: 8px 12px 0px 1px  rgba(24, 255, 147, 0.319);
    
    
}

.list-card{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    
   
    
}
.list-card::-webkit-scrollbar{
    width: 0px;
}

.img-card{
    position: fixed;
}
.item-order{
    border-bottom: 1px solid red;
    /* background-color: rgba(254, 226, 190, 0.975); */
    /* backdrop-filter: blur(1px); */
    
  
}

.card{
   

    overflow: hidden;
    margin-left: 1vmax;
    margin-bottom: 40px;    
    margin-top: 4vmax;
    color: white;
   border-radius: 5px;
    box-sizing: border-box;
   

}

.card-header{
    
    
    
    background-color: #f5c3fe;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
    padding-top: 10px;
  
  
    
}


.title-category{
   
    color: #fff2f2;

    width: 100%;
    padding: 5px;
    padding-left: 10%;
   
    border-bottom: 2px solid #fdeeff;
  
   
   
    background-image: linear-gradient( 90deg,  #ff4e4e 11.2%, rgba(253,176,71,1) 117.9% );
    position: sticky;
    top: 0px;
    z-index: 70;
    margin-block: 40px ;
}
.title-type{

    width: 100%;
    padding: 5px;
    text-align: center;
    margin-top: 30px;

}